/*
    #2C3333
    #395B64
    #A5C9CA
    #E7F6F2

    https://colorhunt.co/palette/2c3333395b64a5c9cae7f6f2
*/

*{
    margin: 0;
    padding: 0;
    /*border: 1px solid red;*/
}

hmtl, body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #E7F6F2;
    font-family: 'Raleway', sans-serif;
    color: #2C3333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    background-color: #2C3333;
    color: #E7F6F2;
}

header h1:hover{
    cursor: pointer;
}

#menu-icon{
    position: absolute;
    left: 10px;
}

#menu-icon ion-icon{
    font-size: 24px;
}

#menu-icon:hover{
    cursor: pointer ;
}

#modal-menu{
    position: fixed;
    height: 100%;
    width: 200px;
    background-color: #395B64;
    display: none;
    left: 0;
    top: 0;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    z-index: 5;
}

@keyframes slide-right {
    from{
        left: -200px;
    }
    to{
        left: 0px;
    }
}

@keyframes slide-left {
    from{
        left: 0px;
    }
    to{
        left: -200px;
    }
}

#close-modal{
    z-index: 6;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 28px;
}

#close-modal:hover{
    cursor: pointer;
}

.modal-menu-options{
    width: 80%;
    height: 40px;
    background-color: #E7F6F2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2C3333;
    margin: 5px 0;
    transition: all 300ms linear;
    border: 2px solid transparent;
}

.modal-menu-options:hover{
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #E7F6F2;
    background-color: #2C3333;
    color: #E7F6F2;
}

#loggin-wrapper{
    position: absolute;
    right: 10px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loggin-wrapper img{
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid #A5C9CA;
    margin-left: 5px;
}

#loggin-wrapper:hover{
    cursor: pointer;
    text-decoration: underline;
}

h1{
    font-weight: 300;
    font-size: 28px;
}
h2{
    font-weight: 300;
    font-size: 24px;
}
h3{
    font-weight: 300;
    font-size: 20px;
}

span{
    font-size: 16px;
    font-weight: 200;
}

#keyboard-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.virtual-keyboard-container{
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.virtual-keyboard-row{
    padding: 5px 5px;
    margin-bottom: 10px;
    display: flex;
    width: fit-content;
    flex-direction: row;
}

.virtual-keyboard-key{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 5px;
    padding-left: 5px;
    background-color: #A5C9CA;
    margin: 0 5px;
    border: 2px solid #2C3333;
    border-radius: 8px;
}

.toggle-virtual-keyboard{
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #2C3333;
}

.toggle-virtual-keyboard:hover{
    cursor: pointer;
}

.toggle-virtual-keyboard img{
    width: 25px;
    z-index: 2;
}

.toggle-virtual-keyboard ion-icon{
    font-size: 36px;
    position: absolute;
    z-index: 3;
    opacity: 0.7;
    display: none;
}

#main-container{
    width: 100%;
    height: fit-content;
}

#main-content{
    margin-bottom: 75px;
    font-size: 20px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 20px;
    padding: 0 30px;
    flex-direction: column;
}

.lessons-container{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    flex-direction: column;
}

.lesson-wrapper{
    width: 40%;
    padding: 20px 0;
    background-color: #A5C9CA;
    margin: 10px 0;
    border-radius: 10px;
    border: 2px solid #395B64;
    transition: all 300ms linear;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.lesson-title-container{
    width: 60%;
}

.chars-preview-wrapper{
    position: absolute;
    display: none;
    right: 0;
    width: 100px;
    height: 50px;
    opacity: 0.5;
    padding-right: 10px;
    justify-content: flex-end;
    align-items: center;
    transition: all 300ms linear;
    font-size: 12px;
}

.lesson-wrapper ion-icon{
    font-size: 36px;
    margin: 0 25px;
}

.lesson-wrapper:hover{
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 3px 3px 15px #2C3333;
    margin-left: 5px;
}

.content-words-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#words-column-1{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 10px;
    font-size: 20px;
    -webkit-mask-image: linear-gradient(to left, black 50%, transparent 100%);
    mask-image: linear-gradient(to left, black 50%, transparent 100%);
}

#words-column-1 span{
    font-size: 20px;
    font-weight: 400;
}

#words-column-2{
    font-size: 20px;
    padding-left: 10px;
    width: 50%;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(to right, black 50%, transparent 100%);
    mask-image: linear-gradient(to right, black 50%, transparent 100%);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
}

#words-container-divider{
    border-left: 2px solid #2C3333;
    height: 60px;
    opacity: 0.4;
    position: relative;
}

#first-char-line{
    position: absolute;
    right: -25px;
    bottom: 18px;
    width: 15px;
    height: 2px;
    background-color: #2C3333;
    z-index: 5;
    opacity: 1;
}

#content-errors-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;
    margin-top: 25px;
    margin-bottom: 75px;
    font-size: 16px;
    letter-spacing: normal;
}

#content-errors-container b{
    margin-left: 5px;
}

.login-form-container{
    padding-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-form-title-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.form-input-fields-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 20%;
    position: relative;
}

.form-input-fields-container h3{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#code-information-icon{
    margin-left: 5px;
}

#code-information-div{
    position: absolute;
    bottom: -140px;
    width: 150px;
    height: 75px;
    background-color: #2C3333;
    box-shadow: 3px 3px 5px #2C3333;
    color: #E7F6F2;
    border: 3px solid #E7F6F2;
    border-radius: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99;
    padding: 2px 10px;
    font-size: 12px;
}

.profile-screen-container{
    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#profile-screen-photo-container{
    position: relative;
    width: 210px;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    border-radius: 100%;
    box-shadow: 5px 5px 15px #395B64;
}



#profile-screen-photo-container:hover{
    cursor: pointer;
}

#profile-screen-photo-container div{
    position: absolute;
    border-radius: 100%;
    animation: rotate-div 4s linear infinite;
    width: 210px;
    height: 210px;
    display: flex;
    z-index: 2;
    background: linear-gradient(to right, #2C3333, #395B64, #A5C9CA);
}

@keyframes rotate-div {
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
}

#profile-screen-photo{
    z-index: 3;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
}

.profile-screen-data-container{
    margin-bottom: 50px;
}

.profile-screen-data-container h3, h5{
    text-align: center;
}
.profile-screen-data-container h5{
    text-align: center;
    color: red;
    margin-top: 20px;
}

.profile-screen-data-container h5 ion-icon{
    margin-left: 3px;
}

.profile-screen-data-container h5:hover{
    cursor: pointer;
    text-decoration: underline;
}

.profile-screen-data-container div{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.profile-screen-data-container div span{
    margin-top: 10px;
}

.button{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #2C3333;
    color: #E7F6F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 300ms linear;
    position: relative;
}
.button{
    border-radius: 5px;
    cursor: pointer;
}

#sign-out-button{

}

#incorrect-info-warning{
    position: absolute;
    top: -30px;
    height: 20px;
    width: fit-content;
    padding: 0px 5px;
    color: red;
    z-index: 99;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-input-fields-container input{
    width: 100%;
    height: 40px;
    border: 2px solid #395B64;
    border-radius: 10px;
    padding: 0 15px;
    margin-bottom: 25px;
    transition: all 300ms linear;
    position: relative;
    z-index: 4;
    box-sizing: border-box;
    font-size: 14px;
}

.form-input-fields-container div{
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.form-input-fields-container input:hover{
    border-radius: 5px;
    box-shadow: 5px 5px 15px #395B64;
}

#teacher-checkbox{
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 40px;
    height: 40px;
    border: 1px solid #395B64;
    border-radius: 10px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 0px 0px 1px #395B64;
    -moz-box-shadow: 0px 0px 0px 1px #395B64;
    box-shadow: 0px 0px 0px 1px #395B64;
}

#teacher-checkbox:checked{
    background-color: #395B64;
    color: black !important;
}

#toggle-password-visibility{
    right: 10px;
    position: absolute;
    z-index: 5;
}

#toggle-password-visibility:hover{
    cursor: pointer;
}

.form-submit-button{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #2C3333;
    color: #E7F6F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 300ms linear;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.form-submit-button:hover{
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 15px #395B64;
}

.change-operation-container{
    margin-top: 20px;   
}

.change-operation-container b{
    margin-left: 5px;
}

.change-operation-container b:hover{
    text-decoration: underline;
    cursor: pointer;
}

#change-info-fields-modal{
    display: none;
    height: fit-content;
    background-color: #395B64;
    animation: showChangeInfoModal 500ms linear;
    position: relative;
    border: 2px solid #2C3333;
    box-shadow: 5px 5px 10px #2C3333;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 10px;
}

#change-info-fields-modal h3{
    margin-bottom: 20px;
    text-align: center;
    font-weight: 200;
    color: #E7F6F2;
    width: 100%;
}

#change-info-fields-modal h4{
    margin-bottom: 5px;
    font-weight: 200;
    color: #E7F6F2;
    width: 80%;
    text-align: left;
}

#change-info-fields-modal input{
    margin-bottom: 10px;
    height: 30px;
    width: 80%;
    box-sizing: border-box;
    padding: 3px 0px 3px 10px;
}

#change-info-fields-modal div{
    
}

#change-info-fields-modal div:hover{
    cursor: pointer;
}

#change-info-fields-modal ion-icon{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 20px;
    color: #E7F6F2;
}

#change-info-fields-modal ion-icon:hover{
    cursor: pointer;
}

.additional-content-container{
    width: 40%;
    height: fit-content;
    padding: 20px;
    background-color: #2C3333;
    margin-top: 50px;
    border-radius: 10px;
    color: #E7F6F2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.additional-content-container h3{
    text-align: center;
    margin-bottom: 15px;
}

.admin-action-text{
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: 300;
    background-color: #E7F6F2;
    color: #2C3333;
    padding: 10px 20px;
    border-radius: 10px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 100ms linear;
}

.admin-action-text:hover{
    cursor: pointer;
    background-color: #A5C9CA;
    font-weight: 600;
    margin-left: 15px;
}

.admin-content-wrapper{
    color: #395B64;
    width: 100%;
    height: fit-content;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.admin-content-search-field-wrapper{
    width: 30%;
    position: relative;
    margin-top: 20px;
    color: #E7F6F2;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#admin-content-search-icon{
    position: absolute;
    left: 10px;
    font-size: 25px;
    color: #E7F6F2;
}

.admin-content-search-field{
    height: 50px;
    width: 100%;
    background-color: #395B64;
    border-radius: 20px;
    padding-left: 40px;
    color: #E7F6F2;
    font-size: 14px;
    outline: none;
    border: 2px solid #E7F6F2;
}

.admin-content-search-field::placeholder{
    font-weight: 300;
    color: #E7F6F2;
}

.admin-content-subcontent{
    width: 40%;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: #395B64;
    display: flex;
    border: 2px solid #395B64;
    flex-direction: column;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.admin-content-subcontent::-webkit-scrollbar{
    display: none;
}

.subcontent-first-row{
    margin-top: 20px;
    width: 40%;
    height: 40px;
    display: flex;
    border: 2px solid #395B64;
    background-color: #395B64;
    color: #E7F6F2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.first-row-col{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.first-row-col ion-icon{
    margin-left: 3px;
    font-size: 12px;
}
.first-row-col ion-icon:hover{
    cursor: pointer;
}

#first-row-col-1{
    width: 10%;
}
#first-row-col-2{
    display: flex;
    justify-content: flex-start;
    width: 60%;
}
#first-row-col-3{
    width: 20%;
    text-align: center;
}
#first-row-col-4{
    width: 10%;
}

#manage-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
#manage-icon:hover{
    cursor: pointer;
}

ion-icon{
    pointer-events: none;
}

.subcontent-user-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #2C3333;
    color: #E7F6F2;
    padding: 10px 0;
    margin: 5px 0;
    transition: all 100ms linear;
}

.subcontent-user-wrapper div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subcontent-user-wrapper:hover{
    background-color: #395B64;
    color: #E7F6F2;
}

.teacher-content-wrapper{
    width: 100%;
    height: fit-content;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.teacher-fields-wrapper{
    width: 40%;
    margin-top: 50px;
    margin-bottom: 25px;
}

.teacher-fields-wrapper h4{
    font-weight: 300;
    margin-bottom: 5px;
}

#add-homework-title-field{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#add-homework-title-field ion-icon{
    margin-left: 3px;
}

#teacher-add-homework-area{
    width: 100%;
    padding: 10px 10px;
    resize: none;
    height: 200px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid #395B64;
    font-size: 16px;
}

.teacher-manage-pupils-wrapper{
    width: 40%;
    height: 500px;
    border: 2px solid #395B64;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

.teacher-manage-pupils-wrapper::-webkit-scrollbar{
    display: none;
}

#add-pupil-to-class{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

#add-pupil-to-class:hover{
    cursor: pointer;
}

.my-pupils-container{
    width: 40%;
    height: 200px;
    border: 2px solid #395B64;
    margin-top: 25px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

.my-pupils-container::-webkit-scrollbar{
    display: none;
}

.my-pupils-container h4{
    box-sizing: border-box;
    font-weight: 300;
    width: 100%;
    color: #E7F6F2;
    background-color: #395B64;
    padding: 15px 0;
    border: 2px solid #395B64;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

@keyframes showChangeInfoModal {
    from{
        height: 0px;
    }
    to{
        height: 200px;
    }
}
@keyframes hideChangeInfoModal {
    from{
        height: 200px;
    }
    to{
        height: 0px;
    }
}

@media screen and (max-width: 1200px) {
    .virtual-keyboard-key{
        width: 30px;
        height: 30px;
        font-size: 14px;
    }
    #modal-menu{
        width: 100%;
    }
    .lesson-wrapper{
        width: 60%;
    }
    .chars-preview-wrapper{
        width: 75px;
    }
    @keyframes slide-right {
        from{
            left: -100%;
        }
        to{
            left: 0px;
        }
    }
    
    @keyframes slide-left {
        from{
            left: 0px;
        }
        to{
            left: -100%;
        }
    }
    .form-input-fields-container{
        width: 40%;
    }
    .additional-content-container{
        width: 60%;
    }
    .admin-action-text{
        width: 50%;
    }
    .subcontent-first-row{
        width: 60%;
    }
    .admin-content-subcontent{
        width: 60%;
    }
    #first-row-col-2{
        width: 50%;
    }
    .admin-content-search-field-wrapper {
        width: 50%;
    }
    .teacher-fields-wrapper{
        width: 60%;
    }
}

@media screen and (max-width: 800px) {
    .virtual-keyboard-key{
        display: none;
    }
    #modal-menu{
        width: 100%;
    }
    .lesson-wrapper{
        width: 80%;
    }
    .chars-preview-wrapper{
        width: 50px;
    }
    @keyframes slide-right {
        from{
            left: -100%;
        }
        to{
            left: 0px;
        }
    }
    
    @keyframes slide-left {
        from{
            left: 0px;
        }
        to{
            left: -100%;
        }
    }
    .form-input-fields-container{
        width: 60%;
    }
    #loggin-wrapper span{
        display: none;
    }
    .additional-content-container{
        width: 80%;
    }
    .admin-action-text{
        width: 70%;
    }
    .subcontent-first-row{
        width: 80%;
    }
    .admin-content-subcontent{
        width: 80%;
    }
    #first-row-col-2{
        width: 50%;
    }
    .admin-content-search-field-wrapper {
        width: 70%;
    }
    .teacher-fields-wrapper{
        width: 80%;
    }
}