/*
    #2C3333
    #395B64
    #A5C9CA
    #E7F6F2

    https://colorhunt.co/palette/2c3333395b64a5c9cae7f6f2
*/

*{
    margin: 0;
    padding: 0;
    /*border: 1px solid red;*/
}

hmtl, body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #E7F6F2;
    font-family: 'Raleway', sans-serif;
    color: #2C3333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    background-color: #2C3333;
    color: #E7F6F2;
}

#menu-icon{
    position: absolute;
    left: 10px;
}

#menu-icon ion-icon{
    font-size: 24px;
}

#menu-icon:hover{
    cursor: pointer ;
}

#modal-menu{
    position: absolute;
    height: 100%;
    width: 200px;
    background-color: #395B64;
    display: none;
    left: 0;
    top: 0;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    z-index: 5;
}

@keyframes slide-right {
    from{
        left: -200px;
    }
    to{
        left: 0px;
    }
}

@keyframes slide-left {
    from{
        left: 0px;
    }
    to{
        left: -200px;
    }
}

#close-modal{
    z-index: 6;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 28px;
}

#close-modal:hover{
    cursor: pointer;
}

.modal-menu-options{
    width: 80%;
    height: 40px;
    background-color: #E7F6F2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2C3333;
    margin: 5px 0;
    transition: all 300ms linear;
    border: 2px solid transparent;
}

.modal-menu-options:hover{
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #E7F6F2;
    background-color: #2C3333;
    color: #E7F6F2;
}

#loggin-wrapper{
    position: absolute;
    right: 10px;
}

#loggin-wrapper span:hover{
    cursor: pointer;
    text-decoration: underline;
}

h1{
    font-weight: 300;
    font-size: 28px;
}
h2{
    font-weight: 300;
    font-size: 24px;
}
h3{
    font-weight: 300;
    font-size: 20px;
}

span{
    font-size: 16px;
    font-weight: 200;
}

#keyboard-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.virtual-keyboard-container{
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.virtual-keyboard-row{
    padding: 5px 5px;
    margin-bottom: 10px;
    display: flex;
    width: fit-content;
    flex-direction: row;
}

.virtual-keyboard-key{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 5px;
    padding-left: 5px;
    background-color: #A5C9CA;
    margin: 0 5px;
    border: 2px solid #2C3333;
    border-radius: 8px;
}

.toggle-virtual-keyboard{
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #2C3333;
}

.toggle-virtual-keyboard:hover{
    cursor: pointer;
}

.toggle-virtual-keyboard img{
    width: 25px;
    z-index: 2;
}

.toggle-virtual-keyboard ion-icon{
    font-size: 36px;
    position: absolute;
    z-index: 3;
    opacity: 0.7;
    display: none;
}

#main-content{
    margin-top: 100px;
    margin-bottom: 75px;
    font-size: 20px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 20px;
    padding: 0 30px;
}

.lessons-container{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    flex-direction: column;
}

.lesson-wrapper{
    width: 40%;
    padding: 20px 0;
    background-color: #A5C9CA;
    margin: 10px 0;
    border-radius: 10px;
    border: 2px solid #395B64;
    transition: all 300ms linear;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.lesson-title-container{
    width: 60%;
}

.chars-preview-wrapper{
    position: absolute;
    display: none;
    right: 0;
    width: 100px;
    height: 50px;
    opacity: 0.5;
    padding-right: 10px;
    justify-content: flex-end;
    align-items: center;
    transition: all 300ms linear;
    font-size: 12px;
}

.lesson-wrapper ion-icon{
    font-size: 36px;
    margin: 0 25px;
}

.lesson-wrapper:hover{
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 3px 3px 15px #2C3333;
    margin-left: 5px;
}

.content-words-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#words-column-1{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 10px;
    font-size: 20px;
    -webkit-mask-image: linear-gradient(to left, black 50%, transparent 100%);
    mask-image: linear-gradient(to left, black 50%, transparent 100%);
}

#words-column-1 span{
    font-size: 20px;
    font-weight: 400;
}

#words-column-2{
    font-size: 20px;
    padding-left: 10px;
    width: 50%;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(to right, black 50%, transparent 100%);
    mask-image: linear-gradient(to right, black 50%, transparent 100%);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
}

#words-container-divider{
    border-left: 2px solid #2C3333;
    height: 60px;
    opacity: 0.4;
    position: relative;
}

#first-char-line{
    position: absolute;
    right: -25px;
    bottom: 18px;
    width: 15px;
    height: 2px;
    background-color: #2C3333;
    z-index: 5;
    opacity: 1;
}

@media screen and (max-width: 1200px) {
    .virtual-keyboard-key{
        width: 30px;
        height: 30px;
        font-size: 14px;
    }
    #modal-menu{
        width: 100%;
    }
    .lesson-wrapper{
        width: 60%;
    }
    .chars-preview-wrapper{
        width: 75px;
    }
    @keyframes slide-right {
        from{
            left: -100%;
        }
        to{
            left: 0px;
        }
    }
    
    @keyframes slide-left {
        from{
            left: 0px;
        }
        to{
            left: -100%;
        }
    }
}

@media screen and (max-width: 800px) {
    .virtual-keyboard-key{
        display: none;
    }
    #modal-menu{
        width: 100%;
    }
    .lesson-wrapper{
        width: 80%;
    }
    .chars-preview-wrapper{
        width: 50px;
    }
    @keyframes slide-right {
        from{
            left: -100%;
        }
        to{
            left: 0px;
        }
    }
    
    @keyframes slide-left {
        from{
            left: 0px;
        }
        to{
            left: -100%;
        }
    }
}